.cell {
    height: 20px;
    width: 20px;
    border: 1px solid black;
}

.row {
    display: flex;
}

.boardWrap {
    display: flex;
}

.board {
    margin: 20px;
}

.ship {
    background-color: aqua;
}

.miss {
    background-color: blueviolet;
}

div .hit {
    background-color: red;
}